name: Common Jobs

on:
  workflow_call:
    outputs:
      file_name:
        description: "The output file name"
        value: ${{ jobs.vars.outputs.file_name }}

jobs:
  vars:
    runs-on: ubuntu-latest
    outputs:
      file_name: ${{ steps.vars.outputs.file_name }}
    steps:
      - uses: actions/checkout@v4
      - id: vars
        run: |
          echo "file_name=er-dispatcher-src-${{ github.head_ref || github.ref_name }}-$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

  run_unit_tests:
    runs-on: ubuntu-latest
    needs: [vars]
    environment: dev
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.SERVICE_ACCOUNT }}

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11' 

      - name: Install pip
        run: python -m ensurepip --upgrade

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run unit tests
        run: pytest
        env:
          TRACING_ENABLED: ${{ vars.TRACING_ENABLED }}